.circle{
    /*폰트*/
    font-size: 1.2em;
    font-weight: bold;
    text-align:center;

    /*circle 사이즈 및 비율*/
    min-width:3.5em;
    min-height:3.5em;
    line-height:3.2em;

    /*circle 테두리*/
    border: solid;
    border-color: rgb(61, 178, 207);
    border-width: 0.1em;
    border-radius: 50%;
    
    /*circle 영역 및 간격*/
    padding: 2px;
    margin-right: 10px;

    /*배경 및 색*/
    display: inline-block;
    color:#fff;
    vertical-align: middle;
    background: radial-gradient(ellipse at top, #2badf8, transparent),
    radial-gradient(ellipse at bottom, #56dbaf, transparent);
}
