{{define "init"}}
{{template "header"}}
<div class="text-center pt-3">
    <div class="py-5">
        <h1>로또 추첨기</h1>
    </div>
    <div id=main>
        {{range .BasicNums}}
        <span class="circle">{{PaddingNum .}}</span>
        {{end}}
    </div>
    <div class="py-3">
        <div id="button_group">
            <button class="btn btn-info" id="reload_btn" onClick="changeNumber()">새로뽑기</button>
            <button class="btn btn-info" id="reload_btn2">담아두기</button>
        </div>
    </div>
</div>  

<!--javascript-->
<script src="/assets/bootstrap-5/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/assets/js/lotto.js"></script>
{{template "footer"}}
{{end}}
