{{define "init"}}
{{template "header"}}
<div class="text-center pt-3">
    <div class="py-5">
        <h1>Janghangdong Minions</h1>
    </div>
    <div>
        {{range .BasicNums}}
        <span class="circle">{{PaddingNum .}}</span>
        {{end}}
    </div>
    <div class="py-3">
        <div id="button_group">
            <button class="btn btn-info" id="reload_btn" onClick="window.location.reload()">Reload</button>
        </div>
    </div>
</div>  
<!--javascript-->
<script src="/assets/bootstrap-5/js/bootstrap.min.js"></script>
{{template "footer"}}
{{end}}
